@import '_options'

@for $i from 1 to length($mediaBp)
    @media ( max-width: nth($mediaBp, $i) )
        .container
            max-width: nth($mediaBp, $i + 1)

                
        @if nth($mediaBp, $i) == 1400px
            .entranse
                &__form
                    width: 35%





        @if nth($mediaBp, $i) == 1350px
            .entranse
                &__form
                    width: 40%






        @if nth($mediaBp, $i) == 1200px
            .entranse
                &__form
                    width: 45%






        @if nth($mediaBp, $i) == 980px
            .entranse
                &__form
                    width: 50%





        @if nth($mediaBp, $i) == 767px
            .entranse
                &__form
                    width: 70%





        @if nth($mediaBp, $i) == 640px
            .entranse
                &__form
                    width: 80%
                &__cat
                    height: 70px
                    transform: translateY(10px)
                &__hint
                    transform: translate(90%, -175%)





        @if nth($mediaBp, $i) == 480px
            .entranse
                &__form
                    width: 100%
                &__cat
                    height: 60px
                    transform: translateY(20px)
                &__hint
                    transform: translate(80%, -175%)





        @if nth($mediaBp, $i) == 380px
            .entranse
                &__title-text
                    font-size: 20px
                &__problem
                    font-size: 14px
                &__cat
                    height: 50px
                    transform: translateY(30px)
                &__hint
                    transform: translate(60%, -160%)                   
            
            .container
                &_entranse
                    width: 100%





        @if nth($mediaBp, $i) == 330px
            .entranse